# paperless-values.yaml
env:
  TZ: "Europe/Amsterdam"

  PAPERLESS_ALLOWED_HOSTS: "paperless.peluan.com,127.0.0.1"
  PAPERLESS_SITE_URL: "https://paperless.peluan.com"    
  PAPERLESS_ADMIN_USER: "admin"
  PAPERLESS_ADMIN_PASSWORD: "hiphonei32"

global:
  security:
    allowInsecureImages: true

image:
  repository: ghcr.io/paperless-ngx/paperless-ngx
  tag: "2.18.2"
  pullPolicy: IfNotPresent    

podSecurityContext:
  fsGroup: 1000
  fsGroupChangePolicy: "OnRootMismatch"

# Use built-in PostgreSQL (or set both to false/use an external DB)
postgresql:
  enabled: true
  postgresqlDatabase: paperless
  postgresqlUsername: paperless
  postgresqlPassword: YOUR_STRONG_PASSWORD
  image:
    registry: docker.io
    repository: bitnamilegacy/postgresql
    tag: "16.4.0-debian-12-r11"
  primary:
    persistence:
      enabled: true
      existingClaim: paperless-pgdata

mariadb:
  enabled: false

redis:
  enabled: true
  image:
    registry: docker.io
    repository: bitnamilegacy/redis
    tag: "7.2.5-debian-12-r4"

persistence:
  data:
    enabled: true
    existingClaim: paperless-data
    accessMode: ReadWriteMany

  media:
    enabled: true
    existingClaim: paperless-media
    accessMode: ReadWriteMany

  consume:
    enabled: true
    existingClaim: paperless-consume
    accessMode: ReadWriteOnce

  export:
    enabled: true
    existingClaim: paperless-export
    accessMode: ReadWriteOnce

ingress:
  main:
    enabled: true
    ingressClassName: public
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-cf
    hosts:
      - host: paperless.peluan.com
        paths:
          - path: /
            pathType: Prefix
    tls:
      - hosts:
          - paperless.peluan.com
        secretName: paperless-tls

