image:
  repository: tensorchord/pgvecto-rs
  tag: pg14-v0.2.0@sha256:739cdd626151ff1f796dc95a6591b55a714f341c737e27f045019ceabf8e8c52

global:
  security:
    allowInsecureImages: true
  nodeSelector:
    immich-home: "true"
  postgresql:
    auth:
      username: immich
      password: immichpassword
      database: immich

primary:
  resources:
    requests:
      memory: 512Mi
      cpu: 250m
    limits:
      memory: 1Gi
      cpu: 1000m

  persistence:
    enabled: true
    existingClaim: immich-postgres-pvc        

  initdb:
    scripts:
      create-extensions.sql: |
        CREATE EXTENSION IF NOT EXISTS cube;
        CREATE EXTENSION IF NOT EXISTS earthdistance;
        CREATE EXTENSION IF NOT EXISTS vectors;
  containerSecurityContext:
    readOnlyRootFilesystem: false
