image:
  repository: nextcloud
  flavor: apache
  pullPolicy: IfNotPresent

replicaCount: 1

ingress:
  enabled: true
  className: public
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "16G"
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/backend-protocol: HTTP
    nginx.ingress.kubernetes.io/configuration-snippet: |
      add_header Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' https://umami.publio.online;";
      add_header Set-Cookie "umami-tracking=1; Path=/; Secure; HttpOnly";
  tls:
    - secretName: cloud-tls
      hosts:
        - cloud.publio.online
  hosts:
    - host: cloud.publio.online
      paths:
        - path: /
          pathType: Prefix

nextcloud:
  host: cloud.publio.online
  username: admin
  password: hiphone32
  trustedDomains:
    - cloud.publio.online
  datadir: /var/www/html/data
  update: 0

persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 10Gi
  storageClass: ssd-hostpath-nextcloud

redis:
  enabled: true
  auth:
    enabled: true
    password: SomePassw0rd!

internalDatabase:
  enabled: true
  name: nextcloud

phpClientHttpsFix:
  enabled: true
  protocol: https

service:
  type: ClusterIP
  port: 8080

resources:
  requests:
    cpu: 500m
    memory: 512Mi
  limits:
    cpu: 1000m
    memory: 1Gi

extraEnv:
  - name: TRUSTED_PROXIES
    value: 10.1.0.0/16

## Enable ClamAV for antivirus scanning
clamav:
  enabled: true

## Enable Imaginary for image previews
imaginary:
  enabled: true
  replicaCount: 1
  image:
    repository: h2non/imaginary
    tag: 1.2.4
    pullPolicy: IfNotPresent
  readinessProbe:
    enabled: true
  livenessProbe:
    enabled: true
  service:
    type: ClusterIP

## Enable Collabora integration
collabora:
  enabled: true
  collabora:
    extra_params: --o:ssl.enable=false
    password: examplepass
    username: admin
  ingress:
    enabled: false  # can be enabled and configured separately if needed

mariadb:
  enabled: true
  auth:
    rootPassword: SomeSecureRootPass123!
    username: nextcloud
    password: SomeSecureAppPass456!
    database: nextcloud

## Enable metrics for Prometheus
metrics:
  enabled: true
  https: false
  image:
    repository: xperimental/nextcloud-exporter
    tag: 0.8.0
    pullPolicy: IfNotPresent
  service:
    annotations:
      prometheus.io/scrape: "true"
      prometheus.io/port: "9205"
